Repository plh97/chatroom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint, stylelint --customSyntax=post-scss

feat: add change
  packages/frontend/src/components/Message.tsx
Due: prettier --write, eslint

fix: test lint
  .lintstagedrc.json
  packages/frontend/src/components/Message.tsx
Due: prettier --write, eslint

docs: test
  .husky/pre-commit
  .lintstagedrc.json
  packages/frontend/src/components/Message.tsx
Due: prettier --write, eslint

fix: lint css
  .stylelintrc.json
  package-lock.json
  package.json
  packages/frontend/src/styles/index.css
  yarn.lock
Due: prettier --write, stylelint

fix: css lint
  .stylelintrc.json
  packages/frontend/src/styles/index.css
Due: prettier --write, stylelint

fix: certbot need no - interative
  ansible/certbot.yml
  ansible/playbook.yml
Due: none

fix: add css
  packages/frontend/src/components/Content.tsx
Due: prettier --write, eslint

Update README.md
  README.md
Due: prettier --write

Update README.md (#45)
  README.md
Due: prettier --write

fix: modify text
  ansible/init.yml
  packages/frontend/src/components/Sidebar.tsx
  terraform/certbot.tf
Due: prettier --write, eslint

fix: css
  packages/frontend/src/components/Sidebar.tsx
Due: prettier --write, eslint

fix: css
  packages/frontend/src/styles/index.css
Due: stylelint

feat: content
  packages/frontend/src/components/Sidebar.tsx
Due: prettier --write, eslint

fix: modify content
  packages/frontend/src/components/Sidebar.tsx
Due: prettier --write, eslint

fix: cicd
  ansible/cicd.yml
Due: none

feat: feat: trying to implement aws
  ansible/cicd.yml
  ansible/hosts
  ansible/init.yml
  packages/frontend/.eslintignore
  terraform-aws/dns.tf
  terraform-aws/main.tf
  terraform-aws/output.tf
  terraform-aws/provider.tf
  terraform-aws/ssh.tf
  terraform-aws/ubuntu22.pkr.hcl
  terraform-aws/ubuntu22.sh
  terraform-aws/variable.tf
  terraform/dns.tf
  terraform/main.tf
  terraform/ubuntu22.pkr.hcl
  terraform/ubuntu22.sh
Due: none

feat: commit code
  README.md
  ansible/cicd.yml
  ansible/init.yml
  lerna.json
  package-lock.json
  package.json
  terraform-aws/dns.tf
  terraform-aws/variable.tf
  terraform.tfstate
  yarn.lock
Due: prettier --write

feat: commit code
  .github/workflows/main.yml
  README.md
  ansible/cicd.yml
  ansible/init.yml
  nginx/conf.d/default.conf
  package-lock.json
  package.json
  terraform-aws/ubuntu22.sh
  terraform/ubuntu22.sh
  yarn.lock
Due: prettier --write

feat: commit code
  package.json
  terraform-aws/main.tf
Due: prettier --write

fix: fix lerna build issue
  package.json
Due: prettier --write

feat: ssr
  packages/frontend/netlify.toml
  terraform-aws/private_ips.txt
Due: none

feat: ssr
  ansible/init.yml
  docker-compose.yml
  nginx/conf.d/default.conf
  package.json
  packages/frontend/netlify.toml
Due: prettier --write

feat: ssr
  terraform-aws/main.tf
Due: none

feat: ssr
  packages/frontend/netlify.toml
Due: none

feat: ssr
  ansible/cicd.yml
  docker-compose.yml
  nginx/conf.d/default.conf
Due: none

feat: update work flow
  .github/workflows/github-CICD-actions.yml
  .github/workflows/main.yml
Due: none

feat: update work flow
  .github/workflows/github-CICD-actions.yml
Due: none

feat: update work flow
  ansible/cicd.yml
Due: none

feat: update work flow
  README.md
  ansible/cicd.yml
  ansible/init.yml
  nginx/conf.d/default.conf
  package-lock.json
  package.json
  packages/backend/package.json
  terraform-aws/dns.tf
  terraform-aws/public_ip.txt
  terraform-aws/ubuntu22.sh
  terraform-aws/variable.tf
  terraform/ubuntu22.sh
Due: prettier --write

feat: update work flow
  .github/workflows/github-CICD-actions.yml
  packages/frontend/netlify.toml
Due: none

feat: update work flow
  packages/frontend/netlify.toml
Due: none

Path conditions:
  prettier --write: ((any of: **/*.{json,md,html}) or (any of: **/*.{js,ts,tsx})) or (any of: **/*.scss)
  eslint: any of: **/*.{js,ts,tsx}
  stylelint: any of: **/*.css
  stylelint --customSyntax=post-scss: any of: **/*.scss
