Repository plh97/chatroom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint, lint:prettier --write, stylelint --customSyntax=post-scss

.lintstagedrc.json:

{
  "**/*.{json,md,html}": ["prettier --write"],
  "**/*.{js,ts,tsx}": ["prettier --write", "eslint"],
  "**/*.css": "stylelint",
  "**/*.scss": ["lint:prettier --write", "stylelint --customSyntax=post-scss"]
}

feat: update work flow
  packages/frontend/netlify.toml
Due: none

Update README.md
  README.md
Due: prettier --write

Update README.md (#54)
  README.md
Due: prettier --write

feat: update work flow
  packages/frontend/index.html
  packages/frontend/public/favicon_io/android-chrome-192x192.png
  packages/frontend/public/favicon_io/android-chrome-512x512.png
  packages/frontend/public/favicon_io/apple-touch-icon.png
  packages/frontend/public/favicon_io/favicon-16x16.png
  packages/frontend/public/favicon_io/favicon-32x32.png
  packages/frontend/public/favicon_io/favicon.ico
  packages/frontend/public/favicon_io/site.webmanifest
  terraform/aws/dns.tf
  terraform/aws/main.tf
  terraform/aws/output.tf
  terraform/aws/private_ips.txt
  terraform/aws/provider.tf
  terraform/aws/public_ip.txt
  terraform/aws/ssh.tf
  terraform/aws/ubuntu22.pkr.hcl
  terraform/aws/ubuntu22.sh
  terraform/aws/variable.tf
  terraform/vultr/dns.tf
  terraform/vultr/main.tf
  terraform/vultr/output.tf
  terraform/vultr/provider.tf
  terraform/vultr/ssh.tf
  terraform/vultr/ubuntu22.pkr.hcl
  terraform/vultr/ubuntu22.sh
  terraform/vultr/variable.tf
Due: prettier --write

feat: change function name
  .github/workflows/github-CICD-actions.yml
Due: none

feat: change function name
  packages/frontend/netlify.toml
  terraform/aws/public_ip.txt
Due: none

feat: update work flow
  packages/frontend/netlify.toml
  terraform/aws/public_ip.txt
Due: none

feat: update work flow
  package-lock.json
  packages/frontend/auto-imports.d.ts
  packages/frontend/package.json
  packages/frontend/src/components/RoomDialog.tsx
  packages/frontend/src/components/Sidebar.tsx
Due: prettier --write, eslint

feat: enable server
  .github/workflows/github-CICD-actions.yml
  ansible/ansible.cfg
  ansible/ssh_config
  packages/frontend/netlify.toml
  packages/frontend/src/components/RoomDialog.tsx
  terraform/aws/main.tf
  terraform/aws/public_ip.txt
Due: prettier --write, eslint

fix: server
  .eslintignore
  scripts/replaceIP.js
  terraform/aws/modify_ip.sh
Due: prettier --write, eslint

fix: no need upload config file
  .gitignore
  ansible/ssh_config
Due: none

feat: enable server
  ansible/cicd.yml
  ansible/init.yml
  package.json
Due: prettier --write

feat: enable server
  packages/frontend/package.json
  packages/frontend/src/components/RoomDialog.tsx
  yarn.lock
Due: prettier --write, eslint

feat: enable server
  .gitignore
  ansible/ssh_config
Due: none
